body {
	background-color: #EDEAF5;
	margin: 0px;
}
.login{
	padding: 3px;
}
.body {
	margin-left: 180px;
	min-height:500px;
	margin-top: 10px;
	margin-bottom: 60px;
	margin-right: 400px;
}
.footer{
	margin-left: 180px;
	margin-right: 400px;
	text-align: center;
}
#feedbackText {
	width: 350px;
	height: 180px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#feedbackSendButton {
	margin-left: 312px;
}
#registerButton{
	margin-left: 150px;
}
#loginInfo  {
	color: red;
}
.invisible {
	display: none;
}
.registerInput span {
	color: red;
}
.logOut {
	color: #FFFFFF;
	text-decoration: none;
}
